#container {
    text-align: center;
    margin-top: 5%;
}

#controls {
    text-align: center;
}

#controls > button > img {
    width: 3.5em;
    height: 3.5em;    
}

#controls > button {
    background-color: transparent;
    border: none;
}

#controls > button:hover {
    cursor: pointer;
}


[class="sc-*"] {
    line-height: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}